body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2C3E50;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.center {
  padding-left: 180px;
  padding-right: 180px;
}
.content {
  width: 960px;
  margin: 100px auto;
  //padding: 15px 188px;
  padding-top: 15px;
  padding-bottom: 15px;

  background: #FAFAFA;

  &__main {
    margin-top: 41px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    margin: 15px 0;
    padding: 5px 0;

    border: 1px solid transparent;
    border-radius: 8px;

    cursor: pointer;

    &:hover {
      border: 1px solid #2C3E50;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;

    & h1 {
      font-size: 24px;
    }

    &_sortToHigherButton {
      transform: scale(-1, -1);
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    margin-left: 10px;

    border: 4px solid #FDD835;
    border-radius: 50%;

    overflow: hidden;

    background: url("../img/avatar.jpg") center no-repeat;
    background-size: contain;

    & img {
      height: 100%;
      width: auto;
    }
  }

  &__initials {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 24px;
    //margin-right: 292px;

    text-align: left;
  }

  &__rating {
    display: flex;
    justify-content: left;
    align-items: center;

    padding-right: 10px;

    &_value {
      margin-left: 7px;
    }
  }
}

.btn {
  border: 2px solid #2C3E50;
  border-radius: 8px;

  cursor: pointer;
  & img {
    padding: 11px 8px;
    margin: 0 auto;
  }
}
