body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;

  &.no-scroll {
    overflow: hidden;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2C3E50;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.center {
  padding-left: 180px;
  padding-right: 180px;
}
.content {
  width: 960px;
  margin: 100px auto;
  //padding: 15px 188px;
  padding-top: 15px;
  padding-bottom: 15px;

  background: #FAFAFA;

  &__main {
    margin-top: 41px;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    margin: 15px 0;
    padding: 5px 0;

    border: 1px solid transparent;
    border-radius: 10px;

    cursor: pointer;

    &:hover {
      background: rgba(#000, .07);
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;

    & h1 {
      font-size: 24px;
    }

    &_sortToHigherButton {
      transform: scale(1, -1);
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    margin-left: 10px;

    border: 4px solid #FDD835;
    border-radius: 50%;

    overflow: hidden;

    background: url("../img/avatar.jpg") center no-repeat;
    background-size: contain;

    & img {
      height: 100%;
      width: auto;
    }
  }

  &__initials {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 24px;
    //margin-right: 292px;

    text-align: left;
  }

  &__rating {
    display: flex;
    justify-content: left;
    align-items: center;

    padding-right: 10px;

    &_value {
      margin-left: 7px;
    }
  }
}

.btn {
  display: block;
  border: 2px solid #2C3E50;
  border-radius: 8px;

  background: #FAFAFA;
  cursor: pointer;

  transition: background .2s linear;
  & img {
    padding: 11px 8px;
    margin: 0 auto;
  }
  &:hover {
    background: rgba(#000, .07);
  }
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);

  color: #2C3E50;


  &__wrapper {
    min-width: 478px;
    max-width: 800px;
    padding: 27px 24px 21px 29px;

    background: #fff;
    &_header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 29px;
      &_close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;

        outline: none;
        border: 1px solid transparent;
        border-radius: 50%;

        background: #fff;

        transition: background-color .2s linear;

        cursor: pointer;

        &:hover {
          background: rgba(#000, .07);
        }
      }
      &_text {
        font-size: 24px;
        font-weight: 400;
      }
    }
    &_main {
      display: flex;
      padding-bottom: 17px;
    }
    &_avatar {
      width: 129px;
      height: 129px;
      border: 4px solid #FDD835;
      border-radius: 50%;
      background: url(https://picsum.photos/200?random=635) center no-repeat;
      background-size: cover;
    }
    &_text {
      display: grid;
      flex-direction: column;
      padding-right: 97px;
      padding-left: 37px;
      &_header {
        font-size: 18px;
        font-weight: 400;
      }
      &_mainText {
        font-size: 16px;
        font-weight: 400;
      }
    }
    &_footer {
      display: grid;
    }
  }
}

.displayNone {
  display: none;
}
